GitPython
pandas
numpy
scikit-learn
torch
torchtext
transformers
datasets
matplotlib
coloredlogs
jupyter
psutil
humanize
GPUtil
tqdm
pytorch-ignite

# package location
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html

ignite