GitPython
pandas
numpy
scikit-learn
torch==1.8.2+cu111
transformers<4.13
datasets
matplotlib
coloredlogs
jupyter
psutil
humanize
GPUtil
tqdm
pytorch-lightning

# package location
--find-links https://download.pytorch.org/whl/lts/1.8/torch_lts.html

