GitPython
pandas
numpy
scikit-learn
torch>=1.10.0+cu113
transformers
datasets
matplotlib
coloredlogs
jupyter
psutil
humanize
GPUtil
tqdm
setuptools==59.5.0
pytorch-lightning

# package location
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
